* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    &::-webkit-scrollbar {
        width: 8px;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a0a0a0;
    }

    @media screen and (max-width: 768px) {
        &::-webkit-scrollbar {
            display: none;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #a0a0a0;
        }
    }
}
html {
    font-size: 16px;

    @media screen and (max-width: 768px) {
        font-size: 15.5px;
    }
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

// scss variables
// color variables
$primary-color: #0068b3;
$dark-primary: #004a80;
$accent-color: #ffd416;
$dark: #000411;
$gray: '#fafafa';

// Scss keyframes

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

// spin
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// bounce
@keyframes bounce {
    0% {
        transform: translateY(-30px);
    }

    25% {
        transform: translateX(-20px);
    }

    75% {
        transform: translateY(25px);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-20px);
    }
}

// Scss mixins
/* * flex center mixin */
@mixin flexCenter($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

// display flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// display grid
@mixin Grid($gap: 1rem, $num_rows: 3) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($num_rows, 1fr);
}

// translate transform
@mixin transLate {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Styles starts here

.progress-bar {
    z-index: 50;
}

// paragram styles
.paragraph {
    // table styles

    tr {
        border-top: 1px solid #c6cbd1;
        background: #fff;
    }

    th,
    td {
        padding: 6px;
        border: 1px solid #dfe2e5;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }
    }

    table tr:nth-child(2n) {
        background: #f6f8fa;
    }
}

// slick styles
.slider {
    width: 100%;
    height: auto;
    overflow: auto;

    @media screen and (max-width: 768px) {
        border-radius: 0;
    }

    .slick-track,
    .slick-list {
        height: auto;
    }

    .prev,
    .next {
        position: absolute;
        z-index: 90;
        opacity: 1;
        transition: width 0.5s ease;
    }
}

// Quill editor
.quill {
    width: 100%;
    font-family: 'Poppins' !important;
}

.ql-toolbar {
    border-radius: 10px 10px 0 0;
    border: 1px solid #cbd5e0 !important;
}

.ql-container {
    border-radius: 0 0 10px 10px;
    height: auto;
    max-height: 500px !important;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #cbd5e0 !important;
    font-size: 15px !important;
}

// paginator
.paginate {
    width: auto;
    min-height: 1rem;
    height: auto;
    list-style: none;
    @include flex(row, center, center);

    a {
        padding: 10px 15px;
        margin: 0.3rem;
        border-radius: 10px;
        border: 1px solid $primary-color;
        cursor: pointer;
        color: $primary-color;
        font-size: 0.8rem;

        &:hover {
            color: #fff;
            background-color: $primary-color;
        }
    }
}

.paginateActive a {
    color: #fff;
    background: $primary-color;
}

.paginatedisabled a {
    color: #7c7c7c;
    background: $gray;
    border-color: #7c7c7c;
    cursor: not-allowed;

    &:hover {
        color: #5f5f5f;
        background: transparent !important;
    }
}
